Package: dhcp-route-converter
Version: [[version]]
Section: utils
Priority: optional
Architecture: all
Maintainer: RAP22-RIPE <olden@ukr-com.net>
Description: A utility to convert network routes to DHCP options 121/249 and vice versa